body{
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(209, 209, 209);
}
h1{
    font-weight: normal;
    border-bottom: 1px solid black;
}
h2{
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 26px;
}
input, textarea{
    margin: 10px;
    background-color: rgb(245, 245, 245);
    border: 0;
    padding: 5px 15px;
    font-size: 16px;
    width: 40%;
    border-radius: 20px;
}
input[type=submit]{
    margin-left: 12%;
    background-color: rgb(255, 242, 187);
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    font-size: 18px;
    width: auto;
    font-weight: bold;
    display: inline-block;

}
label{
    display: block;
    font-size: larger;
}
.review{
    border-bottom: 5px double black;
}
.rate{
    font-weight: bold;
    font-size: large;
    text-align: right;
}
.review1{
    margin-bottom: 2%;
    font-size: 20px;
}