{%extends "base.html"%}
{%block title%}
Вход на сайт
{%endblock title%}
{%block content%}
<div class="login">
    <h1 class="login-heading">
    Вход на сайт
    </h1>
    {%if form.errors%}
        <p class="login-para">
            Вы ввели некоректные данные
        </p>
    {%else%}
        <p class="login-para">
            Используйте эту форму для входа на сайт
        </p>
    {%endif%}
    <div class="login-form">
        <form method="POST">
            {%csrf_token%}
            {{ form.as_p }}
            <p>
                <input type="submit" value="вход на сайт">
            </p>
        </form>
    </div>
</div>
{%endblock content%}