{%extends "base.html"%}
{%block title%}
Изменение пароля
{%endblock title%}
{%block content%}
<div class="pass_change">
    <h1 class="pass_change-heading">
        Изменение пароля
    </h1>
    {%if form.errors%}
        <p class="pass_change-para">
            Вы ввели некоректные данные
        </p>
    {%else%}
        <p class="pass_change-para">
            Используйте эту форму для изменения пароля
        </p>
    {%endif%}
    <div class="pass_change-form">
        <form method="POST">
            {%csrf_token%}
            {{ form.as_p }}
            <p>
                <input type="submit" value="изменить пароль">
            </p>
        </form>
    </div>
</div>
{%endblock content%}